@model MVCCrud.Models.ViewModels.ProductoViewModel
@{
    ViewBag.Title = "EditarProducto";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("EditarProducto", "Producto", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            @Html.HiddenFor(d => d.IdProducto)
            <div>
                @Html.LabelFor(d => d.NombreProducto)
                @Html.TextBoxFor(d => d.NombreProducto, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.NombreProducto, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Marca)
                @Html.TextBoxFor(d => d.Marca, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Marca, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Precio) <br>
                @Html.EditorFor(d => d.Precio, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Precio, null, new { @class = "red" })
            </div>

            <div>
                <br />
                <input value="Guardar" class="btn btn-primary" type="submit" />
            </div>
        </div>
    </div>
}